
<h1>Longest Letter Score</h1>

  <% if @included %>
    <% if @english_word %>
      <p>Well done</p>
    <% else %>
      <p>Not a valid word</p>
    <% end %>
  <% else %>
    <p>Not in the grid</p>
  <% end %>    
<%= link_to "Back", "new" %>